* {
    margin: 0;
    padding: 0;



    font-family:'Poppins', sans-serif;
}

body {
   
   background-color: #FAFAFA;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0; left: 0; right: 0;
    position: fixed;
  margin-left:  10%;
  margin-right: 10%;
    background-color: #FAFAFA;
    z-index: 1;
  }
  .logo img {
    width: 120px;
    
    
  }
  
  header .navbar ul li a{
  color: #1B1C1E;
  text-decoration: none;
  display: block;
  padding:20px
  
  
  }
  
  header .navbar ul li{
    list-style: none;
  position: relative;
  float: left;
  
  }
  
  header .navbar ul li a:hover{
    color:#BAA992;
  
   
    }
  
    header .navbar ul li ul{
      position: absolute;
      left: 0;
      width: 200px;
      background: #FAFAFA   ;
      display: none;
     border: 1px solid black;
  
    }
  
   header .navbar ul li ul li{
      width: 100%;
      border-bottom: 1px solid black;
    }
    header .navbar ul li ul li:nth-last-of-type(1){
      border-bottom: none;
    }
    header .navbar ul li ul li ul{
      left:200px;
      top:0;
  
    }
  
   header .navbar ul li:focus-within > ul, 
    header .navbar ul li:hover > ul{
  display: initial;
    }
main{
    margin-left: 10%;
    margin-right: 10%;
}
    .back{
        margin-top:60px;
    }

    .back a{
        margin-top: 100px;
        text-decoration: none;
        color: #838383;
    }

h2{
    font-size: 40px;
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

form p{
    margin-top: 5px;
}

form h5{
    font-size: 20px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight{
    margin-top:35px;
}

#email{
    width: 300px;
    height: 30px;
}

.submit a{
 
    padding-left: 25px;
    padding-right: 25px;
    padding-top:8px;
    padding-bottom: 8px;
    background-color: #534741;
    border-radius: 5px;

    border: 2px solid #534741;
    margin-top: 20px;
  }
  
  
  
 .submit a:hover{
    border: 2px solid #534741;
    background-color: transparent;
  
    font-weight: bolder;
  
  }
   .submit a {
    text-decoration: none;
    color:#FAFAFA;

font-weight:500;
  }
  
.submit a:hover {
   color:#534741;
  
  
  }

  .buttons{
      display: flex;
  
  }

  .buttons button {
      margin-right: 20px;
  }
.share {
    margin-top: 40px;
    margin-left: 20px;
}

.submit {
    margin-top: 40px;
}
.share a{
    padding-left: 25px;
    padding-right: 25px;
    padding-top:8px;
    padding-bottom: 8px;
    background-color:transparent;
    border-radius: 5px;
text-decoration: none;
    border: 2px solid #534741;
    margin-top: 40px;
  }

  .share  a {
      color: #534741;
      font-weight: 500;
  }

  .share a:hover{
    padding-left: 25px;
    padding-right: 25px;
    padding-top:8px;
    padding-bottom: 8px;
    background-color: #534741;
    border-radius: 5px;

    border: 2px solid #534741;
    margin-top: 20px;
  }

  .share a:hover{
      color:#FAFAFA
  }

  footer {
    width: 100%;
    height: 200px;
    background-color: #eeece6;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  footer .links{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    
  
  }
  footer a{
    text-decoration: none;
    color: #1B1C1E;
    padding-top: 18px;
  }
  
  footer .some{
    margin-right: 10%;
    
  }
  
  footer .some img{
    width: 40px;
    margin:10px;
    margin-top: 40px;
  }

  @media only screen and (max-width:768px){
    .navbar {
        display: none;
      }
      .logo {
        margin-top: 10px;
      }
      .first-nav-container{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .hamburger-menu div{
        height: 3px;
        background-color: #1B1C1E;
        margin: 3px ;
        border-radius: 20px;
      }
      .line {
      height: 5px;
      width: 25px;
      }
  }

  @media only screen and (min-width:768px){
    .first-nav-container{
        display: none;
    }
}